@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');
:root{
    --Grey-700:hsl(0, 0%, 20%);
    --Grey-800:hsl(0, 0%, 12%);
    --Grey-900:hsl(0, 0%, 8%);
    --Green:hsl(75, 94%, 57%);
    --White:hsl(0, 0%, 100%);
}
html{
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 14px;
    background-color: var(--Grey-900);
}
*{
    margin:0;
    padding:0;
}
body{
    text-align: center;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    background-color: var(--Grey-800);
    border-radius: 10px;
    color:var(--White);
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    border-radius: 50%;
    width: 5rem;
    margin:1rem;
    margin-top: 2rem;
}
.name{
    font-size: 24px;
    font-weight: 700;
}
.ubi{
    color:var(--Green);
    font-weight: 600;
    margin-block:0.5rem;
}
.title{
    font-weight: 400;
    padding-block:1rem;
    margin-inline: 4rem;
    color: var(--White);
}
ul{
    width: 100%;
    margin-bottom: 1.5rem;
}
li{
    margin-inline: 2rem;
    background-color: var(--Grey-700);
    list-style: none;
    border-radius: 10px;
    margin-block:1rem;
    text-align: center;
    font-weight: 700;
    text-align: center;
    padding-block: 1rem;
}
li:hover{
    background-color: var(--Green);
    color:var(--Grey-900);
    cursor: pointer;
}